.sortable div:not(.disabled) .input-group-addon {
    cursor:ns-resize;
}

.glyphicon-th {
	opacity: .3;
}
.disabled {
	opacity: .5;
}
.js-darkblue{
	background-color: darkblue;
}
.js-blue{
	background-color: blue;
}
.input-group-addon{
     min-width:42px;
}
